/venv/
/.idea/
/flickr_key
/flickr_secret
/telegram_token
/yolo/darknetv4/
/yolo/custom_data/squirrel_photos/
positive.jpg
/data/
/yolov5/
best.pt
data.yaml
README.dataset.txt
README.roboflow.txt
test*.jpg
/runs/
/test/
/train/
/valid/
