/flickr_key
/flickr_secret
/telegram_token
results/*.jpg
training_wheels/images/*.jpg
training_wheels/labels/*.txt
motion_detected/image/*.jpg
motion_detected/label/*.txt
data.yaml
squirrels_dataset
.idea
*.jpg
log.log
